* {
    background-color: wheat;
}

.container {
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 2px;
}
hr{
    position: relative;
    top: 20px;
    border: none;   
    height: 12px;
    background: black;
}
.wait{
    text-align: center;
    margin-top: 5rem;
}
.header {
    background-color: azure;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 70%; 
    margin: auto; 
}
.register {
    background-color: azure;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 60%; 
    margin: auto; 
}
.ordermedicines {
    background-color: azure;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 60%; 
    margin: auto; 
}
.controlchain {
    background-color: azure;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 60%; 
    margin: auto; 
}
.track {
    background-color: azure;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 60%; 
    margin: auto; 
  }
  .button {
    background-color: azure;
    color: #000; /* Set the initial text color */
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .btn-outline-primary:hover {
    background-color: #e0e0e0; /* Change the background color on hover */
    color: #000 !important; /* Set the text color on hover */
  }
h6 {
    background-color: transparent;
}
h5 {
    background-color: transparent;
}
u {
    background-color: transparent;
}
b {
    background-color: transparent;
}
h3 {
    background-color: transparent;
}

  
